<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>
  </title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

</head>

<body>
  <div class="container">
    <div class="col-md-5">
      <form method="POST" action="/addQuestion">
        <div class="form-group">
          <label for="exampleInputEmail1">Câu hỏi</label>
          <input type="text" name="questionName" class="form-control" aria-describedby="emailHelp" placeholder="Câu hỏi">
        </div>

        <div class="form-row">
          <label for="exampleInputPassword1">Câu trả lời 1</label>
          <div class="form-group col-md-10">
            <input type="text" name="answer1" class="form-control" placeholder="Câu trả lời 1">
          </div>
          <div class="form-group col-md-2">
            <div class="form-check">
              <input class="form-check-input" name="checkbox1" type="checkbox" id="gridCheck1">
              <label class="form-check-label" for="gridCheck1">
                Answers
              </label>
            </div>
          </div>
        </div>

        <div class="form-row">
          <label for="exampleInputPassword1">Câu trả lời 2</label>
          <div class="form-group col-md-10">
            <input type="text" name="answer2" class="form-control" placeholder="Câu trả lời 2">
          </div>
          <div class="form-group col-md-2">
            <div class="form-check">
              <input class="form-check-input" name="checkbox2" type="checkbox" id="gridCheck1">
              <label class="form-check-label" for="gridCheck1">
                Answers
              </label>
            </div>
          </div>
        </div>

        <div class="form-row">
          <label for="exampleInputPassword1">Câu trả lời 3</label>
          <div class="form-group col-md-10">
            <input type="text" name="answer3" class="form-control" placeholder="Câu trả lời 3">
          </div>
          <div class="form-group col-md-2">
            <div class="form-check">
              <input class="form-check-input" name="checkbox3" type="checkbox" id="gridCheck1">
              <label class="form-check-label" for="gridCheck1">
                Answers
              </label>
            </div>
          </div>
        </div>

        <div class="form-row">
          <label for="exampleInputPassword1">Câu trả lời 4</label>
          <div class="form-group col-md-10">
            <input type="text" name="answer4" class="form-control" placeholder="Câu trả lời 4">
          </div>
          <div class="form-group col-md-2">
            <div class="form-check">
              <input class="form-check-input" name="checkbox4" type="checkbox" id="gridCheck1">
              <label class="form-check-label" for="gridCheck1">
                Answers
              </label>
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

  <!--===============================================================================================-->
  <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
  <script src="/vendor/animsition/js/animsition.min.js"></script>
  <!--===============================================================================================-->
  <script src="/vendor/bootstrap/js/popper.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
  <script src="/vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
  <script src="/vendor/daterangepicker/moment.min.js"></script>
  <script src="/vendor/daterangepicker/daterangepicker.js"></script>
  <!--===============================================================================================-->
  <script src="/vendor/countdowntime/countdowntime.js"></script>
  <!--===============================================================================================-->
  <script src="/js/main.js"></script>
</body>

</html>